.DS_Store
Thumbs.db
fsh-generated
input-cache
output
temp
template
_*.*
*.bak
ig-template/includes/.index.json
ig-template/includes/.index.db
ig-template/package/.index.db
ig-template/package/.index.json
ig-template/content/.index.json
ig-template/content/.index.db
ig-template/content/assets/.index.json
ig-template/content/assets/.index.db
ig-template/content/assets/ico/.index.json
ig-template/content/assets/ico/.index.db
ig-template/content/assets/images/.index.json
ig-template/content/assets/images/.index.db
ig-template/content/assets/css/.index.json
ig-template/content/assets/css/.index.db